body {
  background-image: url(./library.png);
}
header {
  background-color: #7c3514;
  position: sticky;
  top: 0;
  z-index: 100;
  transition: background-color 0.5s ease-in;
}

.card-img-top {
  width: 300px;
  height: 300px;
  border-radius: 30px 30px 0 0;
}

.card {
  width: 302px;
  border-radius: 30px;
}
.modScroll {
  background-color: #9c632b;
}

.card-body {
  display: flex;
  flex-direction: column;
}
